{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="container" style="width:320px; padding-top:50px">

    <h1 style="text-align:center";"background-color:grey;";"font-family:sans-serif">LOGIN</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label style="padding-top: 10px">Username</label>
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>

        <div class="form-group">
            <label style="padding-top: 10px">Password</label>
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>

        <div style="text-align:center">
            <button type="button" class="btn btn-secondary" type="submit" style="margin-top: 10px"; "border: white 3px solid"; "font-family:sans-serif">Login</button>
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}