{% extends 'base.html' %}

{% block content %}
<nav class="navbar" style="background-color: #696969;">
    <div class="m-3 d-flex flex-row justify-content-between align-items-center">
        <h3 class="text-white">{{nama}}</h3>
    </div>

</nav>
<table class="table table-striped table-bordered">
    <tr class="table-dark">
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <td>{{barang.nama_barang}}</td>
            <td>{{barang.harga_barang}}</td>
            <td>{{barang.deskripsi}}</td>
        </tr>
    {% endfor %}
</table>
<h6 style="text-align:left">Sesi terakhir login: {{ last_login }}</h6>
<button type="button" class="btn btn-dark" style="background-color: #2c1c21;"><a class="text-white text-decoration-none" href="{% url 'wishlist:logout' %}"> Logout </a></button>


{% endblock content %}